.board {
    width: 100%;
    height: auto;
    background: rgb(34,5,75);
    background: radial-gradient(circle, rgba(34,5,75,1) 26%, rgba(25,2,61,1) 100%);
}
.header {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f3f2f2;
    margin-bottom: 30px;

}
.homecontainer {
    width: 85%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.homecontainer .datashow { 
    margin-top: 40px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homecontainer .space{
    width: 10%;
}
.homecontainer .edit {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}