.board {
    width: 100%;
    height: auto;
   background-color: #f3f2f2;
}
.header {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f3f2f2;
    margin-bottom: 30px;

}
.homecontainer {
    width: 85%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.homecontainer .datashow { 
    margin-top: 40px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homecontainer .space{
    width: 10%;
}
.homecontainer .edit {
    margin-top: 50px;
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}